<perfect-scrollbar class="wrapper" style="max-height: 565px;" [config]="config">
    <ul>
        <li>
            <div class="inside-list">
                <div class="text-muted">Precio</div>
                <div class="text-muted">Cantidad(BTC)</div>
                <div class="text-muted">Total</div>
            </div>
        </li>
        <li >
            <div class="inside-list">
                <div class="text-danger">12</div>
                <div class="text-white">0,455445</div>
                <div class="text-white">21</div>
            </div>
        </li>
    </ul>
</perfect-scrollbar>
